* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.d-none {
    display: none !important;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview-control-container audio::-webkit-media-controls-panel {
    background-color: rgb(31, 214, 96) !important;
}