<main>
    <app-nav-bar></app-nav-bar>
    <div class="page-content-container">
        <app-search-bar></app-search-bar>
        <div class="spotify-iframe center d-none">
            <iframe class="playlist-showcase" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2rN3mSrzUcgjlj1TcEDTX7?theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div *ngIf="isSuggestionsShown" class="suggestion-container">
            <hr>
            <div class="center">
                <div *ngIf="apiResponse.length == 0" class="loader"></div>
            </div>
            <div class="card-grid">
                <app-song-card *ngFor="let val of apiResponse" [song]="generateSong(val)"></app-song-card>
            </div>
        </div>
    </div>
    <div class="preview-control-container"></div>
</main>
<router-outlet></router-outlet>